#blog{
  display: flex;
  justify-content: center;
  color: white;

  .blog-left{
    display: none;
    @include desk{
      display: block;
      width: 35%;
      background-color: #e9e9e9;
      background-image: url("../img/gear.png");
      background-repeat: no-repeat;
      background-position: center right;
    };
  }
  .blog-container{
    padding: 0 0.5rem;
    background-image: url("../img/bg_learn_more.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include desk{
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    };
    .blog-right{
      @include desk{
        padding: 5.625rem 5rem;
        align-items: flex-start;
      };
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        text-transform: uppercase;
        line-height: 3.125rem;
        text-align: center;
        font-size: 1.875rem;
        letter-spacing: -1px;
        @include desk{
          text-align: left;
          font-size: 2.5rem;
          line-height: 3.125rem;
        };
        span{
          color: #7cc575;
        }
      }
      p{
        font-family: 'Roboto Slab', serif;
        color: #ccc;
        text-align: center;
        margin-top: 1.875rem;
        margin-bottom: 1.25rem;
        line-height: 1.55rem;
        @include desk{
          text-align: left;
          width: 60%;
          margin-top: 2rem;
          font-weight: 400;
        };
      }
      ul{
        list-style-type: none;
        li:before{
          content: url("../img/checkmark.png");
          vertical-align: -35%;
          padding-right: 1.25rem;
        }
        li{
          width: 100%;
          text-align: center;
          color: #ccc;
          line-height: 1.55rem;
          font-size: 1rem;
          padding-bottom: 0.5rem;
          @include desk{
            text-align: left;
          };
        }
      }
      a{
        display: block;
        width: 10rem;
        margin-top:2.8rem;
        text-align: center;
        background-color: #7cc576;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        padding-top:1.25rem;
        padding-bottom:1.25rem;
        border-radius: 5.625rem;
        text-decoration: none;
        font-weight: 700;
        text-shadow: 0 1px 1px rgba(0,0,0,0.3);
        transition: all 1s;
        @include desk{
          width: 13rem;
        };
      }
      a:hover{
        background-color: white;
        color: black;
      }
    }
  }
}
